.Contx{
  z-index: 4;
  background-color: #00000000;
 
  
  

}
.social{
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;

 
}
.social ul{
  display: flex;
}
.social ul li{
  list-style: none;
  margin-left: 20px;
  cursor: pointer;
}
.social ul li:hover{
  cursor: pointer;
  background-color: #e77f08;
  z-index: 4;

}
.grow {
  transition: 0.25;
  cursor: pointer;
  animation: img1 infinite 2s alternate;

}


@keyframes img1 {
  from {
      transform: translatex(30px);
  }

  to {
      transform: translatey(20px);
      ;
  }
}

.portfolio-modal .btn-close {
  color: #e77f08;
  font-size: 2rem;
  padding: 1rem;
}
.portfolio-modal .portfolio-modal-title {
  font-size: 2.25rem;
  line-height: 2rem;
}
.portfolio .portfolio-item .portfolio-item-caption:hover {
  opacity: 1;
}
.portfolio .portfolio-item .portfolio-item-caption .portfolio-item-caption-content {
  font-size: 0.1rem;
}

.portfolio .portfolio-item .portfolio-item-caption {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.2s ease-in-out;
  opacity: 0;
  background-color: rgba(223, 55, 13, 0.9);
}
@media (min-width: 992px) {
  .portfolio-modal .portfolio-modal-title {
    font-size: 3rem;
    line-height: 2.5rem;
  }
}
@media (min-width: 992px) {
  .masthead {
    padding-top: calc(6rem + 104px);
    padding-bottom: 6rem;
  }
  .masthead .masthead-heading {
    font-size: 4rem;
    line-height: 3.5rem;
  }
  .masthead .masthead-subheading {
    font-size: 1.5rem;
  }
}
.portfolio .portfolio-item {
  cursor: pointer;
  position: relative;
  display: block;
  max-width: 25rem;
  border-radius: 0.5rem;
  overflow: hidden;
}


.ihlGpp svg{
  font-size: 38px;
margin-bottom: 20px;
color: rgb(255, 255, 255);
width: 100px;
height: 100px;
padding: 30px 0px;
border-radius: 50%;
background: linear-gradient(to right, rgb(99, 114, 255) 0%, rgb(92, 169, 251) 100%);
}


